@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);

html {
  margin-right: -50px; /* hide the vertical scrollbar added by overflow-y */
  overflow-x: hidden; /* hide the horizontal scrollbar */
  overflow-y: scroll; /* don't let the page move when the scrollbar appears */
}

body {
  background-color: #fefefe;
  color: #333;
  font-family: "Source Sans Pro", verdana, helvetica, sans-serif;
  font-weight: 300;
  font-size: 3em;
}

a {
  text-decoration: none;
}

//a:link, a:visited {
//  color: #369;
//}

//a:hover {
//  color: #d90;
//}

em {
  color: #369;
  font-style: normal;
}

p {
  margin-top: 1ex;
}

.markdown-body > :first-child {
  margin-top: 0 !important;
  border-bottom: 0 !important;
}

h3 {
  margin: 0;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button > a:hover {
  background-color: #9CFF90; /* Green */
}
