@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);

html {
  margin-right: -50px; /* hide the vertical scrollbar added by overflow-y */
  overflow-x: hidden; /* hide the horizontal scrollbar */
  overflow-y: scroll; /* don't let the page move when the scrollbar appears */
}

body {
  background-color: #fefefe;
  color: #333;
  font-family: "Source Sans Pro", verdana, helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em;
}

a {
  text-decoration: none;
}

em {
  color: #369;
  font-style: normal;
}

p {
  margin-top: 1ex;
  font-size: 2em;
}

p.back {
  font-size: 1em;
}

.fullwidth {
  width: 100%;
}

.markdown-body > :first-child {
  margin-top: 0 !important;
  border-bottom: 0 !important;
}

h3 {
  margin: 0;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  font-weight: bolder;
  letter-spacing: 10px;
  opacity: 0.95;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

a.button:hover {
  background-color: #dba916; /* Yellowish */
}

button {
  font-size: 0.5em;
}

/* parallax */
.bgimg, .bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}

.bgimg {
  min-height: 500px;
}

.question {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  color: #000;
  text-align: center;
}

.choices {
  position: absolute;
  left: 0;
  top: 25%;
  text-align: center;
  width: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 95%;
  width: 100%;
  text-align: center;
  color: #000;
}

.question span.border {
  background-color: #111;
  color: #f7f7f7;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 10px;
  opacity: 0.95;
  padding: 18px;
}

.caption span.border {
  background-color: #111;
  color: #f7f7f7;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 10px;
  opacity: 0.95;
  padding: 18px;
}

.separator {
  background-color:white;
  color: #777;
  min-height: 50px;
  padding:10px 80px;
  text-align:center;
  text-align: justify;
}
